.DS_Store
venv
/dist
migrations/
*.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
